# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-toml
-   repo: https://github.com/timothycrosley/isort
    rev: 7.0.0
    hooks:
    - id: isort
      args: [--profile, black]
-   repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
    - id: interrogate
      args: [-i, --fail-under=80]
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14 # Use the latest version tag here
    hooks:
    - id: ruff-check
      args: [--fix] # Automatically fix fixable linting issues
    - id: ruff-format
